* {
    margin: 0;
    padding: 0;
}
.tarjetas {
    background: linear-gradient(45deg,red,blue,orange,black);
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 10s ease-in-out infinite;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;

}
.tarjeta{
    border: solid #252525;
    margin: auto auto;
    padding: 0;
    width: 18%;
    height: 95%;
    border-radius: 5%;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#t1{background-image: url(images/001.jpg)}
#t2{background-image: url(images/002.jpg)}
#t3{background-image: url(images/003.jpg)}
#t4{background-image: url(images/004.jpg)}
#t5{background-image: url(images/005.jpg)}

h1{
    color:#2c698d;
    font-size: 17px;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    
}
textarea {
    padding: 0;
    padding: 0;  
    resize: none;
}
.form {
    background-color:#85bdaa;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 40%;
    padding: 0;
    text-align: center;   
    border: 0;
    display: flex; 
    flex-direction: row;   
}

.texts{
    display: flex; 
    flex-direction: row;
    border: 0;
    width: 65%;
    height: 93%;
    justify-content: center;
    margin: auto auto;
    padding: 4%;
    border: 0;
}
.typetext_layout{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 10px;
    width: 50%;
    margin: auto auto;
    padding: 1%;
    border: 0;
    display: block;
}

.typetext_underside{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 10px;
    width: 50%;
    margin: auto auto;
    padding: 0;
    border: 0; 
    display: block;
}

.textbox {
    padding: 4%
}
.intro {
    height: 7%;
    width: 30%;
    margin: auto auto;
    padding: 0;
    border: 0;
}
.enviador {
    display: inline;
    width: 150px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto;
}
.select {
    display: inline;
    width: 120px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    float: left;
}

p {
    word-wrap: break-word;
    padding: 5%;
    color: #fff;
}


@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

